*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* Index Style */
.navBar{
    height: 70px;
}

.navBar nav ul{
    display: flex;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    gap: 20px;
}


.navBar ul li img{
    height: 50px;
}

.banner img{
    width: 1550px;
}

.backG img{
    width: 1200px;
    padding-left: 300px;
}
h1{
    padding-top: 50px;
    padding-left: 300px;
}

article{
    width: 1200px;
    padding-left: 250px;
}

.indexCont{
    padding-top: 40px;
    padding-left: 150px;
}

.indexCont li img{
    width: 500px;
    height: 200px;
    margin: 25px;
}

footer{
    width: 1300px;
    padding-left: 200px;
}   

.gridDestM{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(18,1fr);
    width: 100%;
    height: 1200px;
}

/* Grid */


ul{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 10px;
}

ul li{
    all: unset;
}

ul button{
    all: unset;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 20px;
}





/* Style Hardware*/************************************

.hardMain, .hardMach{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hardMain ul,.hardMach ul{
    flex-direction: column;
    align-items: center;
}

.hardMain input, .hardMach input{
    width: 50px;
}

.hardMain ul span, .hardMach ul span{
    display: flex;
}

.hardMain ul article, .hardMach ul article{
    display: flex;
    width: 1000px;
    padding-right: 300px;
}

.ofertHard{
    padding-left: 10px;
    border: 1px solid chartreuse;
    border-radius: 20px;
    width: 290px;
    height: 58px;
}
.ofertHard button{
    margin: 5px;
}

.hardCov{
    display: flex;
    padding-top: 20px;
}

.hardCov img{
    width: 300px;
    padding-right: 10px;
}

/* Styles Cartuchos ************** */
.cartGrid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

h3{
    width: 600ps;       
}

.cartGrid article{
    padding-right: 150PX;
}

.pageInf img{
    width: 20px;
}

.cartMain{
    display: flex;
    flex-direction: column;
}

.cartMain ul{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cartMain li{
    flex-direction: column;
    align-items: center;
    width: 800px;
}



.cartIcon img{
    width: 60px;
}
.cartBan img{
    width: 800px;
    height: 100px;
}


.cartCov img{
    width: 800px;
}

/* Media Q******************************************** */
@media(max-width:768px){
    .navBar{
        width: 1000px;
    }
    .navBar ul{
        justify-content: center;
    }
    .gridN img{
        width: 1000PX;    
    }
    .backG img{     
        padding-left: 125px;
        width: 1000px; 
    }   

    h1{
        width: 900px;
        padding-left: 230px; 
    }
    article{
        width: 800px;
        padding-left: 300px;
    }

    .indexCont{
        padding-top: 20px;
        padding-left: 300px;
    }

    .indexCont li img{
        margin-top: 50px;
    }
    footer{
        width: 800px;
        height: 200px;
        padding-left: 350px;
    }
/* Index Q end */
.cartMain ul{
    padding-left: 330px;
    }        

/* Cartuchos Media Q */
    .hardMain{
    padding-left: 300px;
    }
    .hardMach{
    padding-left: 300px;
    }
}

@media(max-width:320px){

    .navBar ul{
        padding-right: 150px;
    }
    

    .backG img{ 
        width: 1000px;
        padding-top: 40px;
        padding-right: 200px;          
    }
    
    .indexCont{
        padding-top: 40px;  
        padding-left: 550px;
    }
    
    .indexCont li img{
        width: 500px;
        height: 200px;
        margin: 25px;
    }
    h1{
        width: 800px;
        padding-right: 200px;
    }

    article{
        width: 700px;
        padding-left: 200px;
    }

    footer{
        width: 650px;
        padding-left: 250px;
    }

/* Index Q end */
    .cartMain ul{
        padding-left: 450px;
    }
/* Cartuchos Media Q */

.hardMain{
    padding-left: 425px;
}
.hardMain article{
    padding-left: 300px;
}

.hardMach{
    padding-left: 425px;
    }
.hardMach article{
    padding-left: 300px;
    }
} 
/* Destacados */

.gridDest{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(20,1fr);
    width: 1550px;
    height: 1000px;
    background-image: url(../assets/img/arcadeHard.jpg);
    background-repeat: none;
    background-position: center;
    padding-top: 50px;
}
.gridDest h3{
    grid-column: 2 / 8;
    grid-row: 2 / 3;
}
.gridDest span{
    grid-column: 3 / 8;
    grid-row: 4 / 5;
    width: 800px;
}
.preview{
    grid-column: 2 / 8;
    grid-row: 7 / 8;
    padding-right: 100px;
}

.previewI img{
    width: 250px;
    height: 200px;
}

.tourn{
    grid-column: 3 / 8;
    grid-row: 6 / 7;

}

.tourn img{
    width: 900px;   
}

.suscrib{
    grid-column: 5 / 6;
    grid-row: 8 / 9;
}
.suscrib button{
    background-color: rgb(133, 238, 28);
    color: black;
    padding: 10px;
}
.inputC{
    display: flex;
    align-items: center;
    gap: 10px;
}
.inputC input{
    width: 250px;
}
.gridEvent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;  
}
.gridEvent span{
    width: 800px;
}
.event{
    padding-top: 40px;
}
.tourP{
    width: 200px;
    height: 100px;
    padding-bottom: 100px;
}
.tourBut{
    padding-top: 200px;
}
.tourBut button{
    background-color: rgb(216, 27, 191);
}
/* Art Style */
.artMain ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.artCov img{
    width: 400px;
}
.artMin img{
    width: 200px;
}

.fileF img{
    width: 80px;
}